<div class="all">  

  <form [formGroup]="form" (submit)="guardar()">
    <div class="contenido">
      <label for="correo" class="txt">Correo Electrónico: </label>
      <input 
      type="text"
      id="correo"
      placeholder= {{this.text}}
      class="txtbox"
      required
      formControlName="correo"
      (click)="borrarPlaceholder()"
      >
      <button type="submit" (click)="validOinvalid()">
        Verificar
      </button>
    </div>


    <div class="contenido alerta">
      <label>
        {{ this.texto }}
      </label>
    </div>
  </form>
</div>